@font-face {
  font-family: AlteHaas;
  src: url("fonts/AlteHaasGroteskBold.ttf");
}
@font-face {
  font-family: Rodin;
  src: url("fonts/FOT-Rodin\ Pro\ B.otf");
}
*{/*sitewide settings*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  text-align: center;
  font-family: Rodin;
  font-size: 15px;
  color: aliceblue;
}
a{
  color: rgb(160,70,255);
  transition: 0.25s;
}
a:hover{
  opacity: 80%;
}
a:active{
  opacity: 60%;
}
.title{/*for page titles*/
  font-family: AlteHaas;
  font-size: 60px;
  margin: 20px;
}
.subtitle{/*for other highlghted text*/
  font-family: AlteHaas;
  font-size: 30px;
  margin: 10px;
}
.sect{/*adds margins*/
  padding: 0% 10%;
  margin-top: 3vh;
  margin-bottom: 3vh;
}
button{/*formats every button on the site*/
  background-color:rgba(160,70,255,0.3);
  box-shadow: -2px 2px 3px rgba(255,255,255,0.5) inset, 2px -2px 3px rgba(0,0,0,0.5) inset;
  border: none;
  outline: none;
  padding: 10px 30px;
  font-size: 18px;
  min-width: 15vw;
  margin: 10px;
  border-radius: 15px;
  transition: 0.25s;
  cursor: pointer;
}
button:hover{/*when buttons are hovered over*/
  background-color: rgba(160,70,255,0.2);
  box-shadow: -2px 2px 3px rgba(255,255,255,0.4) inset, 2px -2px 3px rgba(0,0,0,0.4) inset;
}
button:active{/*when buttons are being clicked*/
  background-color: rgba(160,70,255,0.1);
  box-shadow: -2px 2px 3px rgba(255,255,255,0.3) inset, 2px -2px 3px rgba(0,0,0,0.3) inset;
}
#prices{/*pricing should be easier to see*/
  padding: 0% 20%;
}
li{/*for list items*/
  list-style-type: square;
  text-align: left;
}
.homeBody{/*hides overflow on the main page*/
  overflow: hidden;
}
.subBody{/*makes sure the other backgrounds are black*/
  background-color: black;
}
.homePage{/*holds the content on the home page; unlike the other pages this content should be centered*/
  min-height: 100vh;
  min-height: 100dvh;
  padding: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  button{
    display: inline-block;
  }
}
canvas{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: black;
}
@media (max-width:600px){/*for mobile devices like cell phones*/
  .banner{
    display: flex;
    flex-direction: column;
  }
  button{
    min-width: 50vw;
  }
  .title{
    font-size: 50px;
  }
  .subtitle{
    font-size: 25px;
  }
  .subPage{
    padding: 20px;
  }
  .sect, #prices{
    padding: 0% 10%;
  }
}