@font-face {
  font-family: AlteHaas;
  src: url("fonts/AlteHaasGroteskBold.ttf");
}
@font-face {
  font-family: Rodin;
  src: url("fonts/FOT-Rodin\ Pro\ B.otf");
}
*{/*sitewide settings*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  text-align: center;
  font-family: Rodin;
  font-size: 18px;
  color: aliceblue;
}
@keyframes floatie{/*meant to mimic the GameCube's menu when there's no disc*/
  0%{transform: rotate(0deg); left:0px; top:0px;}
  25%{transform: rotate(1deg); left:5px; top:-5px;}
  50%{transform: rotate(0deg); left:0px; top:-2.5px;}
  75%{transform: rotate(-1deg); left:-5px; top:-5px;}
  100%{transform: rotate(0deg); left:0px; top:0px;}
}
body{/*centers elements on all pages*/
  background-color: black;
  align-items: center;
  justify-content: center;
}
a{/*text links*/
  color: rgb(160,70,255);
  transition: 0.25s;
}
a:hover{/*hovering over links*/
  opacity: 80%;
}
a:active{/*clicking on links*/
  opacity: 60%;
}
h1,h2,h3{/*for all title text*/
  font-family: AlteHaas;
}
h1{/*for the main page titles*/
  font-size: 80px;
  margin-bottom: 20px;
}
h2{/*for the other page titles*/
  font-size: 60px;
  margin: 10px;
}
h3{/*for other highlghted text*/
  font-size: 40px;
  margin-bottom: 5px;
}
.sect{/*adds margins*/
  padding: 0% 5%;
  margin: auto;
  margin-top: 20px;
}
button{/*formats every button on the site*/
  background-color:rgba(160,70,255,0.3);
  box-shadow: -2px 2px 3px rgba(255,255,255,0.5) inset, 2px -2px 3px rgba(0,0,0,0.5) inset;
  border: none;
  outline: none;
  padding: 10px 30px;
  font-size: 18px;
  min-width: 15vw;
  margin: 10px;
  border-radius: 15px;
  transition: 0.25s;
  cursor: pointer;
}
button:hover{/*when buttons are hovered over*/
  background-color: rgba(160,70,255,0.2);
  box-shadow: -2px 2px 3px rgba(255,255,255,0.4) inset, 2px -2px 3px rgba(0,0,0,0.4) inset;
}
button:active{/*when buttons are being clicked*/
  background-color: rgba(160,70,255,0.1);
  box-shadow: -2px 2px 3px rgba(255,255,255,0.3) inset, 2px -2px 3px rgba(0,0,0,0.3) inset;
}
li{/*for list items*/
  list-style-type: square;
  text-align: left;
}
.homePage, .subContent{/*centers the main content and puts it over the background animation*/
  min-height: 100vh;
  min-height: 100dvh;
  padding: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  button{
    display: inline-block;
  }
}
.floaty{
  position: relative;
  animation: floatie 4s infinite;
  animation-timing-function: linear;
}
.subContent{/*holds the content of side pages*/
  padding: 0% 10%;
  flex-direction: column;
}
@media (max-width:600px){/*for mobile devices like cell phones*/
  @keyframes floatie{/*reduces the exaggeration of tilting on mobile due to smaller screen size*/
    0%{transform: rotate(0deg); left:0px; top:0px;}
    25%{transform: rotate(0.2deg); left:5px; top:-5px;}
    50%{transform: rotate(0deg); left:0px; top:-2.5px;}
    75%{transform: rotate(-0.2deg); left:-5px; top:-5px;}
    100%{transform: rotate(0deg); left:0px; top:0px;}
  }
  button{
    min-width: 60vw;
  }
  *{
    font-size: 15px;
  }
  h1{
    font-size: 50px;
  }
  h2{
    font-size: 35px;
  }
  h3{
    font-size: 25px;
  }
  .subContent{
    padding: 15px;
  }
}