@font-face {
  font-family: gcn;
  src: url("AlteHaasGroteskBold.ttf");
}
*{/*default for all pages*/
  background-color: black;
  font-family: gcn;
  font-size: 18px;
  color:whitesmoke;
}
h1{/*the title of each subpage*/
  font-size: 3em;
}
h2{
  font-size: 2em;
}
h3{
  font-size: 1.5em;
}
body {/*the page itself*/
  margin: 0;
  padding: 0px;
  text-align: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
button{/*applies to all buttons on the page*/
  border: 0.5px;
  padding: 1em;
  border-radius: 20px;
  display: inline-block;
  margin: 1em;
  cursor: pointer;
  background-color: rgba(133,0,255,0.5);
  box-shadow: inset 0.15em 0.15em 0.15em 0 rgba(255,255,255,0.4), inset -0.15em -0.15em 0.15em 0 rgba(0,0,0,0.4);
  min-width: 20%;
  transition: 0.25s;
}
button:hover{/*when the regular buttons are hovered over*/
  background-color: rgba(133,0,255,0.75);
}
button:active{/*when the regular buttons are hovered over*/
  background-color: rgba(133,0,255,1);
}
.flexBox{/*when flexboxes are used this comes into play*/
  display: flex;
  align-items: center;
  justify-content: center;
}
.half{/*for pop-ups of 2 in a row*/
  width: 40%;
  margin: 1em 3em;
  img{/*images take up the whole div and aren't huge*/
    width:100%;
  }
  button{
    min-width:50%;
  }
}
@media only screen and (max-width:800px){/*applies to mobile devices like tablets or phones*/
  *{
    font-size: 15px;
  }
  button, .popUp button{/*larger buttons are easier to interact with*/
    min-width: 80%;
  }
  .flexBox{/*all flexboxes are now full width*/
    width: 90%;
    margin: auto;
    flex-direction: column;
  }
  .half{/*small popups are larger*/
    min-width: 100%;
  }
}